/* showing video when click on thumbnails */

.showing  {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.90);
  z-index: 100;
}

.showing iframe {
  width: 80vw;
  height: 45vw;
}

.showing i {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 40px;
  transform: scale(1);
  color: rgba(255,255,255,0.7);
  cursor: pointer;
}

.showing i:hover {
  transform: scale(1.2);
  color: rgba(255,255,255,1);
  transition: 0.1s;
}

/*-----------responsive------------*/

@media (max-width: 100vh)  {

  .showing iframe {
    width: 100vw;
    height: 56.25vw;
  }

}
