/* genearl setting */

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  height: 392px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box06 .box .overlay  {
  height: 796px;
}
.gridtext h3  {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: #7ebce6;
}

.gridtext h4  {
  text-align: center;
  font-size: 20px;
  margin: 0;
  color: #dbecf8;
}

.overlay i  {
  font-size: 120px;
  margin-top: 20px;
  color: #dbecf8;
}

/* set individual box's image position */

.box  {
  position: relative;
}

.box01 .box img {
  margin: 0;
  width: 1200px;
}

.box02 .box img, .box03 .box img, .box05 .box img {
  margin: 0;
  height: 392px;
  margin-left: -152.44px;
}

.box04 .box img {
  margin-left: -250px;
  margin-top: -50px;
  width: 300%;
}

.box06 .box img {
  margin-left: -470px;
  height: 796px;
}

.box07 .box img {
  margin-left: -400px;
  height: 450px;
}

.box08 .box img {
  height: 392px;
}

.box09 .box img {
  margin-left: -100px;
  height: 392px;
}

.box10 .box img {
  margin-top: -120px;
  margin-left: -200px;
  height: 550px;
}

.box11 .box img {
  margin: 0;
  margin-top: -27.875px;
  width: 796px;
}

/* set animation for image, overlay, text and icon*/

.box > img  {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.box:hover > img  {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.box .overlay {
  background-color: rgba(23, 35, 42, 0);
  transition: background-color 0.2s ease-in-out;
}

.box:hover .overlay {
  background-color: rgba(23, 35, 42, 0.65);
  transition: background-color 0.2s ease-in-out;
}

.box .overlay .gridtext {
  opacity: 0;
  margin-top: 120px;
  transition: 0.2s ease-in-out;
}

.box:hover .overlay .gridtext {
  opacity: 1;
  margin-top: 0px;
  transition: 0.2s ease-in-out;
}

.box .overlay i {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.box:hover .overlay i {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

/* set grid and position of each box */

.thegrid  {
  display: grid;
  width: 1200px;
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 392px;
  grid-gap: 12px;
}

.box01, .box02, .box03, .box04, .box05, .box06, .box07, .box08, .box09, .box10, .box11 {
  cursor: pointer;
}

.box01  {
  grid-column: 1/4;
  grid-row: 1/2;
  overflow: hidden;
}

.box02  {
  grid-column: 1/2;
  grid-row: 2/3;
  overflow: hidden;
}

.box03  {
  grid-column: 2/3;
  grid-row: 2/3;
  overflow: hidden;
}

.box04  {
  grid-column: 1/2;
  grid-row: 3/4;
  overflow: hidden;
}

.box05  {
  grid-column: 2/3;
  grid-row: 3/4;
  overflow: hidden;
}

.box06  {
  grid-column: 3/4;
  grid-row: 2/4;
  overflow: hidden;
}

.box07  {
  grid-column: 1/2;
  grid-row: 4/5;
  overflow: hidden;
}

.box08  {
  grid-column: 2/3;
  grid-row: 4/5;
  overflow: hidden;
}

.box09  {
  grid-column: 3/4;
  grid-row: 4/5;
  overflow: hidden;
}

.box10  {
  grid-column: 1/2;
  grid-row: 5/6;
  overflow: hidden;
}

.box11  {
  grid-column: 2/4;
  grid-row: 5/6;
  overflow: hidden;
}

/*--------------------------responsive-------------------------------*/

@media (min-width: 911px) and (max-width: 1280px) {

  .box > .overlay {
    height: 281.33px;
  }

  .box06 .box .overlay  {
    height: 281.33px;
  }

  .gridtext {
    max-width: 90%;
  }

  .gridtext h3  {
    font-size: 26px;
  }

  .gridtext h4  {
    font-size: 16px;
  }

  .overlay i  {
    font-size: 100px;
  }

  .box01 .box img {
    width: 860px;
  }

  .box02 .box img, .box03 .box img, .box05 .box img, .box06 .box img, .box07 .box img, .box09 .box img, .box10 .box img {
    margin: 0;
    margin-left: -109.4px;
    height: 281.33px;
  }

  .box04 .box img {
    margin-left: -250px;
    margin-top: -100px;
    height: 560px;
  }

  .box07 .box img {
    margin-left: -220px;
    height: 300.33px;
  }

  .box08 .box img {
    height: 281.33px;
  }

  .box09 .box img {
    margin-left: -80px;
  }

  .box10 .box img {
    margin-left: -100px;
    margin-top: -80px;
    height: 380px;
  }

  .box11 .box img {
    width: 100%;
    margin-top: -101.21px;
  }

  .thegrid  {
    width: 860px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 281.33px;
    grid-gap: 8px;
  }

  .box01  {
    grid-column: 1/4;
    grid-row: 1/2;
    overflow: hidden;
  }

  .box02  {
    grid-column: 1/2;
    grid-row: 2/3;
    overflow: hidden;
  }

  .box03  {
    grid-column: 2/3;
    grid-row: 2/3;
    overflow: hidden;
  }

  .box04  {
    grid-column: 3/4;
    grid-row: 2/3;
    overflow: hidden;
  }

  .box05  {
    grid-column: 1/2;
    grid-row: 3/4;
    overflow: hidden;
  }

  .box06  {
    grid-column: 2/3;
    grid-row: 3/4;
    overflow: hidden;
  }

  .box07  {
    grid-column: 3/4;
    grid-row: 3/4;
    overflow: hidden;
  }

  .box08  {
    grid-column: 1/2;
    grid-row: 4/5;
    overflow: hidden;
  }

  .box09  {
    grid-column: 2/3;
    grid-row: 4/5;
    overflow: hidden;
  }

  .box10  {
    grid-column: 3/4;
    grid-row: 4/5;
    overflow: hidden;
  }

  .box11  {
    grid-column: 1/4;
    grid-row: 5/6;
    overflow: hidden;
  }

}

@media (min-width: 624px) and (max-width: 910px) {

  .box > .overlay {
    height: 276px;
  }

  .box06 .box .overlay  {
    height: 276px;
  }

  .gridtext {
    max-width: 90%;
  }

  .gridtext h3  {
    font-size: 26px;
  }

  .gridtext h4  {
    font-size: 16px;
  }

  .overlay i  {
    font-size: 100px;
  }

  .box01 .box img {
    width: 560px;
  }

  .box02 .box img, .box03 .box img, .box05 .box img, .box06 .box img, .box07 .box img, .box09 .box img, .box10 .box img, .box11 .box img {
    margin: 0;
    margin-left: -107.33px;
    height: 276px;
  }

  .box04 .box img {
    margin-left: -250px;
    margin-top: -100px;
    height: 560px;
  }

  .box07 .box img {
    margin-left: -220px;
    height: 300px;
  }

  .box08 .box img {
    height: 276px;
  }

  .box09 .box img {
    margin-left: -80px;
  }

  .box10 .box img {
    margin-left: -100px;
    margin-top: -80px;
    height: 380px;
  }

  .box11 .box img {
    width: auto;
  }

  .thegrid  {
    width: 560px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 276px;
    grid-gap: 8px;
  }

  .box01  {
    grid-column: 1/3;
    grid-row: 1/2;
    overflow: hidden;
  }

  .box02  {
    grid-column: 1/2;
    grid-row: 2/3;
    overflow: hidden;
  }

  .box03  {
    grid-column: 2/3;
    grid-row: 2/3;
    overflow: hidden;
  }

  .box04  {
    grid-column: 1/2;
    grid-row: 3/4;
    overflow: hidden;
  }

  .box05  {
    grid-column: 2/3;
    grid-row: 3/4;
    overflow: hidden;
  }

  .box06  {
    grid-column: 1/2;
    grid-row: 4/5;
    overflow: hidden;
  }

  .box07  {
    grid-column: 2/3;
    grid-row: 4/5;
    overflow: hidden;
  }

  .box08  {
    grid-column: 1/2;
    grid-row: 5/6;
    overflow: hidden;
  }

  .box09  {
    grid-column: 2/3;
    grid-row: 5/6;
    overflow: hidden;
  }

  .box10  {
    grid-column: 1/2;
    grid-row: 6/7;
    overflow: hidden;
  }

  .box11  {
    grid-column: 2/3;
    grid-row: 6/7;
    overflow: hidden;
  }

}

@media (max-width: 623px) {

  .overlay {
    flex-direction: row-reverse;
    /* align-content: center; */
    height: 36vw;
  }

  .box06 .box .overlay  {
    height: 36vw;
  }

  .gridtext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60vw;
  }

  .gridtext h3  {
    text-align: left;
  }

  .gridtext h4  {
    text-align: left;
  }

  .overlay i {
    margin: 0;
    margin-right: 20px;
  }

  .box01 .box img, .box02 .box img, .box03 .box img, .box05 .box img, .box06 .box img, .box07 .box img, .box09 .box img, .box10 .box img, .box11 .box img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .box03 .box img {
    margin-top: -10.125vw;
  }

  .box04 .box img {
    width: 150vw;
    margin-left: -25vw;
    margin-top: -18vw;
  }

  .box05 .box img {
    margin-top: -20.25vw;
  }

  .box07 .box img {
    margin-top: -10.125vw;
  }

  .box08 .box img {
    width: 100%;
    height: auto;
    margin-top: -30vw;
  }

  .box09 .box img {
    margin-top: -6vw;
  }

  .box10 .box img {
    width: 130%;
    margin-left: -10vw;
    margin-top: -10.125vw;
  }

  .box11 .box img {
    margin-top: -10.125vw;
  }

  .thegrid  {
    width: 100vw;
    grid-template-columns: 100%;
    grid-auto-rows: 36vw;
    grid-gap: 2px;
  }

  .box01  {
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
  }

  .box02  {
    grid-column: 1/2;
    grid-row: 2/3;
    overflow: hidden;
  }

  .box03  {
    grid-column: 1/2;
    grid-row: 3/4;
    overflow: hidden;
  }

  .box04  {
    grid-column: 1/2;
    grid-row: 4/5;
    overflow: hidden;
  }

  .box05  {
    grid-column: 1/2;
    grid-row: 5/6;
    overflow: hidden;
  }

  .box06  {
    grid-column: 1/2;
    grid-row: 6/7;
    overflow: hidden;
  }

  .box07  {
    grid-column: 1/2;
    grid-row: 7/8;
    overflow: hidden;
  }

  .box08  {
    grid-column: 1/2;
    grid-row: 8/9;
    overflow: hidden;
  }

  .box09  {
    grid-column: 1/2;
    grid-row: 9/10;
    overflow: hidden;
  }

  .box10  {
    grid-column: 1/2;
    grid-row: 10/11;
    overflow: hidden;
  }

  .box11  {
    grid-column: 1/2;
    grid-row: 11/12;
    overflow: hidden;
  }

}

@media (min-width: 371px) and (max-width: 553px) {
  .gridtext h3  {
    font-size: 24px;
  }

  .gridtext h4  {
    font-size: 16px;
  }

  .overlay i {
    margin-right: 20px;
    font-size: 80px;
  }
}

@media (max-width: 370px) {
  .gridtext h3  {
    font-size: 20px;
  }

  .gridtext h4  {
    font-size: 12px;
  }

  .overlay i {
    margin-right: 20px;
    font-size: 65px;
  }
}
