
/*-------------basics--------------------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, a {
  font-family: 'Open Sans', sans-serif;
}

p, h4 {
  font-family: 'Lato', sans-serif;
}

p a {
  color: #ea3f60;
}

/*---------header--------------------*/
.promo  {
  display: flex;
  justify-content: center;
  position: relative;

}

.promo video, .videoOverlay  {
  height: 454px;
}

.videoOverlay {
  position: absolute;
  top: 0px;
  width: 100%;
  background: linear-gradient(rgba(23, 35, 42, 0.8), rgba(23, 35, 42, 0.3));
}

.nameAndpos {
  position: absolute;
  text-align: center;
  width: 600px;
  top: 200px;
  left: 50%;
  margin-left: -300px;
  font-size: 15px;
}

.nameAndpos h1 {
  font-size: 5em;
  color: white;
  font-style: normal;
  margin-bottom: 0em;
  margin-top: 0;
}

.nameAndpos h2 {
  font-size: 2em;
  color: #ea3f60;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

/* -navigation- */
.topnav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#2e4554, #45677e);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.topnav a {
  text-decoration: none;
  font-size: 1em;
  color: #dbecf8;
  padding: 25px;
  font-weight: bold;
  background-color: rgba(23, 35, 42, 0);
  transition: background-color .2s;
}

.topnav a:hover {
  background-color: rgba(23, 35, 42, 1);
}

.topnav a .redLine {
  position: relative;
  display: flex;
  justify-content: center;
  height: 2px;
  top: 10px;
}

.topnav a .redLine div{
  background-color: #ea3f60;
  width: 0%;
  transition: .2s;
}

.topnav a:hover .redLine div{
  width: 100%;
  transition: .2s;
}

/*----------main---------------*/

main  {
  position: absolute;
  width: 100vw;
  top: 455px;
}

h2  {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: #2e4554;
}

h3  {
  color: #45677e;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}

h4  {
  color: #45677e;
  font-weight: normal;
  font-size: 1.3em;
  margin: auto;
}

p {
  font-size: 1.2em;
  margin: auto;
  color: #45677e;
  text-align: justify;
}

.title-warpper  {
  width: 560px;
}

.text-warpper {
  width: 560px;
  margin-left: 80px;
}

.underline  {
  height: 2px;
  margin-bottom: 40px;
  background-color: #ea3f60;
}

#about  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
  margin-top: 80px;
}

#about img  {
  height: 315px;
  border-radius: 50%;
}

#showreel {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#showreel iframe  {
  width: 955px;
  height: 537px;
}

#work  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 80px;
  margin-top: 80px;
}

#work > .text-warpper {
  margin: auto;
  width: 1200px;
}

#education  {
  padding-top: 80px;
  margin-top: 80px;
  margin-bottom: 160px;
}

.education-title  {
  width: 1200px;
  margin: 0 auto;
}

.education-title div  {
  width: 560px;
}

.education-content  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.desktopEXP {
  background: linear-gradient(rgba(23, 35, 42, 0.95),rgba(23, 35, 42, 0.65)), url("../images/office.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transform: translate3d(0,0,0);
  padding: 80px 0;
  z-index: -10;
}

.mobileEXP {
  background: linear-gradient(rgba(23, 35, 42, 0.95),rgba(23, 35, 42, 0.65)), url("../images/office.jpg") center no-repeat;
  background-attachment: scroll;
  background-size: cover;
  transform: translate3d(0,0,0);
  padding: 80px 0;
  z-index: -10;
}

.experience-title {
  width: 1200px;
  margin: 0 auto;
  color: #7ebce6;
}

.experience-title h2{
  color: #7ebce6;
}

.experience-title div{
  width: 560px;
}

.experience-warpper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

/* The + combinator selects adjacent siblings. This means that the second element directly follows the first, and both share the same parent.
Here use + combinator to select the second and third experience-warpper. */

.experience-warpper + .experience-warpper {
  padding-top: 40px;
}

/* The > combinator selects nodes that are direct children of the first element.
Here use > combinator to select h2, h3, h4 and p that are children of either title-warpper or text-warpper. */

.experience-warpper > .title-warpper > h3, .experience-warpper > .title-warpper > h4, .experience-warpper > .text-warpper > p {
  color: #dbecf8;
}

/* --------------------skill swipper-------------------- */

#skill  {
  padding-top: 80px;
  margin-top: 80px;
}

.skill-title  {
  width: 1200px;
  margin: 0 auto;
}

.swiper-container {
  width: 1200px;
  height: 540px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide {
  font-size: 18px;
  color:#fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-warpper  {
  display: flex;
  align-items: center;
}

.skill-warpper img  {
  width: auto;
  height: 320px;
  border-radius: 50%;
}

.skill-content  {
  margin-left: 80px;
  width: 520px;
  height: auto;
}

.skill-warpper .text-warpper  {
  width: auto;
  margin: 0;
  margin-bottom: 40px;
}

.skill-warpper h3 {
  color: #7ebce6;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.skill-warpper h4 {
  color: #7ebce6;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.skill-warpper p {
  color: #dbecf8;
  text-align: justify;
}

.level-warpper  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.level-warpper h3 {
  color: #dbecf8;
  margin: 0;
}

.level-bar {
  margin-left: 40px;
  position: relative;
  width: 300px;
  height: 20px;
  background-color: #2e4554;
  border: 2px solid;
  border-color: #dbecf8;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#veLevel {
  position: absolute;
  top: 0;
  width: 85%;
  height: 100%;
  background-color: #dbecf8;
  color: #17232a;
}

#gdLevel {
  position: absolute;
  top: 0;
  width: 75%;
  height: 100%;
  background-color: #dbecf8;
  color: #17232a;
}

#thirdLevel {
  position: absolute;
  top: 0;
  width: 65%;
  height: 100%;
  background-color: #dbecf8;
  color: #17232a;
}

#feLevel {
  position: absolute;
  top: 0;
  width: 65%;
  height: 100%;
  background-color: #dbecf8;
  color: #17232a;
}

/*--------------------contact---------------------------*/
#contact  {
  padding-top: 80px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 120px;
  width: 1200px;
}

.contact-title  {
  width: 560px;
  margin: 0;
}

.contact-warpper  {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-content  {
  width: 560px;
}
.contact-info {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.contact-info p {
  margin: 0;
}

.contact-info i {
  color: #45677e;
  width: 60px;
  font-size: 30px;
}

/* quick submit form */

.contact-form {
	max-width:560px;
	width:100%;
	margin:0;
  margin-left: 80px;
	position:relative;
}

#qcf input[type="text"], #qcf input[type="email"], #qcf input[type="tel"], #qcf input[type="url"], #qcf textarea, #qcf button[type="submit"] {
  font:400 1em "Lato", Helvetica, Arial, sans-serif;
}

#qcf {
	margin:0;
}

#qcf h3 {
	color: #2e4554;
  font-size: 30px;
  margin-bottom: 20px;
}

#qcf h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#qcf input[type="text"], #qcf input[type="email"], #qcf input[type="tel"], #qcf input[type="url"], #qcf textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	padding:10px;
}

#qcf input[type="text"]:hover, #qcf input[type="email"]:hover, #qcf input[type="tel"]:hover, #qcf input[type="url"]:hover, #qcf textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#qcf textarea {
	height:200px;
	max-width:100%;
  resize:none;
}

#qcf button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#45677e;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:18px;
}

#qcf button[type="submit"]:hover {
	background:#17232a;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#qcf button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#qcf input:focus, #qcf textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


/* copyright */

#copyright  {
  background: linear-gradient(#2e4554, #45677e);
  padding: 15px 0;
}

#copyright p {
  font-size: 15px;
  text-align: center;
  color: #dbecf8;
}
