
/*-------------basics--------------------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4  {
  font-family: 'Libre Franklin', sans-serif;
}

a {
  font-family: 'Nanum Gothic', sans-serif;
}

p {
  font-family: 'Dosis', sans-serif;
}

/*---------header--------------------*/
.promo  {
  display: flex;
  justify-content: center;
  position: relative;

}

/* @supports (object-fit) {

  .promo video  {
    object-fit: cover;
  }

} */

.promo video, .videoOverlay  {
  height: 454px;
}

.videoOverlay {
  position: absolute;
  top: 0px;
  width: 100%;
  background: linear-gradient(rgba(23, 35, 42, 0.8), rgba(23, 35, 42, 0.3));
}

.nameAndpos {
  position: absolute;
  text-align: center;
  width: 600px;
  top: 200px;
  left: 50%;
  margin-left: -300px;
  font-size: 15px;
}

.nameAndpos h1 {
  font-size: 5em;
  color: white;
  font-style: normal;
  margin-bottom: 0em;
  margin-top: 0;
}

.nameAndpos h2 {
  font-size: 2em;
  color: #ea3f60;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

/* -navigation- */
.topnav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#2e4554, #45677e);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.topnav a {
  text-decoration: none;
  font-size: 1em;
  color: #dbecf8;
  padding: 25px;
  font-weight: bold;
  background-color: rgba(23, 35, 42, 0);
  transition: background-color .2s;
}

.topnav a:hover {
  background-color: rgba(23, 35, 42, 1);
}

.topnav a .redLine {
  position: relative;
  display: flex;
  justify-content: center;
  height: 2px;
  top: 10px;
}

.topnav a .redLine div{
  background-color: #ea3f60;
  width: 0%;
  transition: .2s;
}

.topnav a:hover .redLine div{
  width: 100%;
  transition: .2s;
}

/*----------main---------------*/

main  {
  position: absolute;
  width: 100vw;
  top: 455px;
}

h2  {
  font-size: 2.5em;
  margin: 0 0 20px 0;
  color: #2e4554;
}

h3  {
  color: #45677e;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 10px 0;
}

h4  {
  color: #45677e;
  font-weight: normal;
  font-size: 1.3em;
  margin: auto;
}

p {
  font-size: 1.2em;
  margin: auto;
  color: #45677e;
}

.title-warpper  {
  width: 560px;
}

.text-warpper {
  width: 560px;
  margin-left: 80px;
}

.underline  {
  height: 2px;
  margin-bottom: 40px;
  background-color: #ea3f60;
}

#about  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
  margin-top: 80px;
}

#about img  {
  height: 315px;
  border-radius: 50%;
}

#showreel {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#showreel iframe  {
  width: 955px;
  height: 537px;
}

#work  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 80px;
  margin-top: 80px;
}

#work > .text-warpper {
  margin: auto;
  width: 1200px;
}

#education  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-top: 80px;
  margin-top: 80px;
  margin-bottom: 160px;
}

.desktopEXP {
  background: linear-gradient(rgba(23, 35, 42, 0.95),rgba(23, 35, 42, 0.65)), url("../images/office.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transform: translate3d(0,0,0);
  padding: 80px 0;
  z-index: -10;
}

.mobileEXP {
  background: linear-gradient(rgba(23, 35, 42, 0.95),rgba(23, 35, 42, 0.65)), url("../images/office.jpg") center no-repeat;
  background-attachment: scroll;
  background-size: cover;
  transform: translate3d(0,0,0);
  padding: 80px 0;
  z-index: -10;
}

.experience-warpper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

/* The + combinator selects adjacent siblings. This means that the second element directly follows the first, and both share the same parent.
Here use + combinator to select the second and third experience-warpper. */

.experience-warpper + .experience-warpper {
  padding-top: 40px;
}

/* The > combinator selects nodes that are direct children of the first element.
Here use > combinator to select h2, h3, h4 and p that are children of either title-warpper or text-warpper. */

.experience-warpper > .title-warpper > h2 {
  color: #7ebce6;
}

.experience-warpper > .title-warpper > h3, .experience-warpper > .title-warpper > h4, .experience-warpper > .text-warpper > p {
  color: #dbecf8;
}

/* ---------------------------work--------------------------- */
