/*
font-family: 'Dosis', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Libre Franklin', sans-serif;
#17232a blue-d3
#2e4554 blue-d2
#45677e blue-d1
#7ebce6 blue-l1
#acd4ef blue-l2
#dbecf8 blue-l3
#ea3f60 red
*/


/*-------------fonts--------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  /* overflow-x: hidden; */
}

h1, h2, h3, h4  {
  font-family: 'Libre Franklin', sans-serif;
}

a {
  font-family: 'Nanum Gothic', sans-serif;
}

p {
  font-family: 'Dosis', sans-serif;
}

/*---------header--------------------*/
.promo  {
  display: flex;
  justify-content: center;
}

.promo video  {
  position: absolute;
  top: 0px;
  object-fit: cover;
  width: 100vw;
  height: 454px;
}

.nameAndpos {
  position: absolute;
  text-align: center;
  width: 600px;
  top: 200px;
  left: 50%;
  margin-left: -300px;
  font-size: 15px;
}

.nameAndpos h1 {
  font-size: 5em;
  color: white;
  font-style: normal;
  margin-bottom: 0em;
  margin-top: 0;
}

.nameAndpos h2 {
  font-size: 2em;
  color: #ea3f60;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

/*----------navigation---------------*/
.topnav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #2e4554;
  opacity: 0.92;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.topnav a {
  text-decoration: none;
  font-size: 1em;
  color: #dbecf8;
  padding: 25px;
  font-weight: bold;
  background-color: #2e4554;
  transition: background-color .2s;
}

.navText  {
  g
}

.topnav a:hover {
  background-color: #17232a;
}

.redLine {
  position: relative;
  display: flex;
  justify-content: center;
  height: 2px;
  top: 10px;
}

.nav-btn-hidden {
  width: 0%;
  background-color: #ea3f60;
  transition: .2s;
}

.nav-btn-hover  {
  width: 100%;
  background-color: #ea3f60;
  transition: .2s;
}


/*----------main---------------*/

main  {
  position: absolute;
  top: 455px;
}

/*----------responsive---------------*/

@media (min-width: 433px) and (max-width: 631px) {
  .nameAndpos {
    width: 400px;
    margin-left: -200px;
    font-size: 10px;
  }

  .promo video  {
    position: absolute;
    max-width: 100vw;
    height: 416px;
  }

  .topnav a {
    padding: 25px 10px;
    font-size: 14px;
  }

  main  {
    top: 416px;
  }
}

@media (max-width:432px) {
  .nameAndpos {
    width: 280px;
    margin-left: -140px;
    font-size: 8px;
    top: 140px;

  }

  .promo video  {
    position: absolute;
    object-fit: cover;
    max-width: 100vw;
    height: 272px;
  }

  .video-overlay  {
    top: 76px;
    width: 100%;
    height: 196px;
  }
  .topnav {
    flex-wrap: wrap;
  }

  .topnav a {
    padding: 10px 15px;
    font-size: 14px;
  }

  .redLine {
    position: relative;
    display: flex;
    justify-content: center;
    height: 2px;
    top: 5px;
  }

  main  {
    top: 272px;
  }

}
