/*----------reference-------------------------
font-family: 'Dosis', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Libre Franklin', sans-serif;
#17232a blue-d3
#2e4554 blue-d2
#45677e blue-d1
#7ebce6 blue-l1
#acd4ef blue-l2
#dbecf8 blue-l3
#ea3f60 red
----------------------------------------------*/

/*-------------fonts--------------------------*/

h1, h2, h3, h4  {
  font-family: 'Libre Franklin', sans-serif;
}

a {
  font-family: 'Nanum Gothic', sans-serif;
}

p {
  font-family: 'Dosis', sans-serif;
}

/*----------navigation---------------*/

.topnav {
  display: flex;
  justify-content: center;
  background-color: #2e4554;
}

.topnav a {
  text-decoration: none;
  font-size: 1em;
  color: #dbecf8;
  padding: 25px;
  font-weight: bold;
  background-color: #2e4554;
  transition: background-color .2s;
}

.topnav a:hover {
  background-color: #17232a;
}

.redLine {
  position: relative;
  display: flex;
  justify-content: center;
  height: 2px;
  top: 10px;
}

.nav-btn-hidden {
  width: 0%;
  background-color: #ea3f60;
  transition: .2s;
}

.nav-btn-hover  {
  width: 100%;
  background-color: #ea3f60;
  transition: .2s;
}

@media (max-width: 695px) {
  .topnav a {
    padding: 25px 10px;
    font-size: 14px;
  }
}
